/* confg gerais */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+FR+Trad:wght@100..400&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
}
:root{
    --corbtnh2: #FFAE00 ;
    --arredondamentoBordas: 10px;
    --fontall: "Roboto", sans-serif;
    --fontTitleNav: "Playwrite FR Trad", cursive;
    
}
html,body{
    height: 100vh;
    width: 100vw;
    font-family: var(--fontall);
}
body{
    background-image: url(imagens/bg.png);
    background-size: contain;
    background-repeat: repeat;
    background-attachment: fixed;

}

/* header do site */
header{
    display: flex;
    justify-content: center; /*margin: auto*/
    align-items: center;
    flex-direction: column; /*Display: block nos elementos internos*/
    background-color: #1E1F22;
    padding: 10px;
    margin-bottom: 10px;
}
.logo-carda{
    width: 200px;
    margin-bottom: 5px;
}
/* barra de navegação */
nav{
    width: 100%;
}
.list-nav{
    margin: auto;
    width: 40%;
    display: flex;
    justify-content: space-between; /*Margin entre os links*/
    align-items: center;
    gap: 20px;
    list-style: none;
    font-family: var(--fontTitleNav);
}
.list-nav a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
}
.list-nav a:hover{
    color: var(--corbtnh2);
}
#carrinho{
   position: absolute;
   top: 10px;
   right: 50px;
   font-size: 1.5rem;
   padding: 10px;
   border-radius: 50%;
}
/* Conteudo principal do cardapio */
main{
    margin: auto;
    max-width: 800px;
    padding: 20px;
}
h1{
    text-align: center;
    font-family: var(--fontTitleNav);
}
h2{
    text-align: center;
    color: var(--corbtnh2);
    font-weight: bold;
    margin: 10px;
    width: 100%;
    
}
.contTiposProdutodos{
    border-radius: var(--arredondamentoBordas);
    background-color: rgba(37, 37, 37, 0.8);
    margin: 20px 0;
}
.baner{
    width: 100%;
    height: 100%;
    display: flex; /*display: inline_block nos elementos intenros*/
    justify-content: center;
    align-items: center; /* margin auto*/
    padding: 20px;
   
}
.container-imgs{
    width: 100% ;
    margin-right: 10px;
}
.container-imgs img{
    width: 100%;
}
#img-maior .container-imgs {
    margin-left: -2.3%;
    width: 90%;
}
#img-maior .cotainer-info{
    margin-left: -3%;
}

.cotainer-info{
    max-width: 450px;
}
.cotainer-info h3{
   
    margin-bottom: 10px;
}
.cotainer-info button{
    background-color: var(--corbtnh2);
    padding: 10px;
    font-size: 1rem;
    margin-top: 30px;
    width: 40%;
    border: none;
    border-radius: var(--arredondamentoBordas);
    cursor: pointer;
}
.cotainer-info button:hover{
    
    background-color: #c08301;
}
/* offcanvas */
.offcanvas-header{
    background-color:#1E1F22 ;
    font-family: var(--fontTitleNav);
}

#contCardsPedidos{
    margin: 10px auto;
    overflow-y: scroll;
    
   
}
#contCardsPedidos::-webkit-scrollbar{
    width: 10px;
}
#contCardsPedidos::-webkit-scrollbar-thumb{
    background-color: #ffffff3c;
    border-radius: var(--arredondamentoBordas);
}
.cardPedido{
    background-color: #1E1F22;
    border-radius: 6px;
    
}
.contBtnPedidos{
    display: flex;
    justify-content: center;
}
.contImgPedido{
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contValorNome{
    
    background-image: url(imagens/bg.png);
    background-position: center;
    background-size: contain;
    border-radius: var(--arredondamentoBordas);
}

.contBtnPedidos button{
    background-color: #FFAE00;
    padding: 8px;
    border-radius: var(--arredondamentoBordas);
    width: 21%;
}
.contBtnPedidos input{
    margin: 0 10px;
    padding: 8px;
    border: 2px solid black;
    background-color: #fff;
    color: black;
    width: 20%;
}

#btnFimPedidos{
    margin: auto;
    padding: 10px;
    background-color: var(--corbtnh2);
    border: none;
    border-radius: var(--arredondamentoBordas);
    width: 200px;
    
}
#contFimTotal{
    display: contents;
    flex-direction: column;
    justify-content: center;
}


/* modal */
.modalCotainer{
    background-color: #1E1F22;
}

